body{
font-family:Arial;
background:#f4f6f9;
margin:0;
}

header{
background:#1f2937;
color:white;
padding:15px;
font-size:20px;
}

.container{
width:90%;
margin:auto;
margin-top:30px;
}

.top-bar{
margin-bottom:15px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
margin:10px;
}

th{
background:#2c3e50;
color:white;
padding:10px;
}

td{
padding:10px;
border:1px solid #ddd;
text-align:center;
}

button{
	background:#6d5dfc;
padding:8px 15px;
border:none;
color:white;
border-radius:4px;
cursor:pointer;
}

.add-btn{
background:#6d5dfc;
color:white;
margin-right:40px;
padding:8px;
margin:10px;
}

.delete-btn{
background:#e74c3c;
color:white;
}

.update-btn{
background:#27ae60;
color:white;
}

.form-box{
width:400px;
margin:auto;
margin-top:80px;
background:white;
padding:30px;
border-radius:6px;
text-align:center;
}

input{
width:20%;
padding:8px;
margin:10px;
}